<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<!-- layout:decorate="~{layout}" , designates that the homepage HTML will be bound to layout.html-->
<head>
  <title>Homepage</title>
</head>

<body>
<!--render homepage layout -->
<div layout:fragment="content">

  <div class="jumbotron jumbotron-fluid mt-3" style="color: #225ca3">
    <div class="container">
      <h1 class="display-4">Tech News Daily</h1>
      <p class="lead">Do you have the latest news In Tech? Here we share the latest in tech start-ups, IT, and new releases.</p>
    </div>
  </div>

  <hr class="mb-4" />

  <ol>
    <li th:each="post : ${postList}" class="post-list">
      <div th:insert="fragments/post-fragment :: post-fragment"></div>
    </li>
  </ol>
</div>

</body>
</html>