<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<!-- layout:decorate="~{layout}" , designates that the homepage HTML will be bound to layout.html-->
<head>
  <title>Homepage</title>
</head>

<body>
<!--render homepage layout -->
<div layout:fragment="content">
  <ol>
    <li th:each="post : ${postList}" class="post-list">
      <div th:insert="fragments/post-fragment :: post-fragment"></div>
    </li>
  </ol>
</div>

</body>
</html>